@model IEnumerable<Library.Models.Data>

@{
    ViewBag.Title = "Library";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>

@using (Html.BeginForm())
{
<p>
    Title: @Html.TextBox("titleSearch", (string)ViewBag.titleSearchValue) &nbsp;
    Author: @Html.TextBox("authorSearch", (string)ViewBag.authorSearchValue) &nbsp;
    Year: @Html.DropDownList("yearSearch", "All") &nbsp; &nbsp;
    <input type="submit" value="Filter" class="btn btn-light" />
    <input type="submit" name="Reset" value="Cancel" class="btn btn-light" />
</p>
}

<table class="table">
    <tr>
        @Html.Raw(ViewBag.Headings)
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
